Node-red-GPIO-CP1
[{"id":"f8b5c2ac.9a886","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b3f5c94.4cded38","type":"http in","z":"f8b5c2ac.9a886","name":"","url":"/pin7","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["1cd240b1.5ff06f"]]},{"id":"8d6a9673.3ccde8","type":"debug","z":"f8b5c2ac.9a886","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":260,"wires":[]},{"id":"a28ae4dd.c86988","type":"http response","z":"f8b5c2ac.9a886","name":"","statusCode":"","headers":{},"x":530,"y":160,"wires":[]},{"id":"f7619b9f.eead78","type":"rpi-gpio in","z":"f8b5c2ac.9a886","name":"","pin":"7","intype":"up","debounce":"25","read":true,"x":150,"y":280,"wires":[["4c95baea.c01f94"]]},{"id":"4c95baea.c01f94","type":"function","z":"f8b5c2ac.9a886","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["8d6a9673.3ccde8"]]},{"id":"1cd240b1.5ff06f","type":"function","z":"f8b5c2ac.9a886","name":"get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["a28ae4dd.c86988","8d6a9673.3ccde8"]]}]
