Node-red-GPIO-CP2
[{"id":"867cc027.f725e","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bf3378ea.871688","type":"http in","z":"867cc027.f725e","name":"set GPIO27","url":"/setgpio27","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["1e9069d6.34ea66","81576530.e156c8"]]},{"id":"1e9069d6.34ea66","type":"function","z":"867cc027.f725e","name":"set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["a3277cb5.4e17c"]]},{"id":"a3277cb5.4e17c","type":"rpi-gpio out","z":"867cc027.f725e","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":480,"y":320,"wires":[]},{"id":"81576530.e156c8","type":"function","z":"867cc027.f725e","name":"return status","func":"msg.payload = \"GPIO27 set to High\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["d99d8372.d6687","2e7e3671.8326ea"]]},{"id":"d99d8372.d6687","type":"http response","z":"867cc027.f725e","name":"","statusCode":"","headers":{},"x":710,"y":200,"wires":[]},{"id":"2e7e3671.8326ea","type":"debug","z":"867cc027.f725e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]},{"id":"5951117d.43df7","type":"http in","z":"867cc027.f725e","name":"clear","url":"/clear","method":"get","upload":false,"swaggerDoc":"","x":90,"y":420,"wires":[["7bd42a5a.d12e14","2646f42.c57da0c"]]},{"id":"7bd42a5a.d12e14","type":"function","z":"867cc027.f725e","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["a3277cb5.4e17c"]]},{"id":"2646f42.c57da0c","type":"function","z":"867cc027.f725e","name":"return status","func":"msg.payload = \"GPIO27 set to Low\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["d99d8372.d6687","2e7e3671.8326ea"]]}]
